<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">
    <display-name>Library Management</display-name>
    <servlet>
        <servlet-name>LibraryServlet</servlet-name>
        <servlet-class>com.konveyor.LibraryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LibraryServlet</servlet-name>
        <url-pattern>/library</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
